#s-c381b5ca-c35d-4c1e-b388-6186811084aa > #backgroundBox {
  position: absolute;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa > #alignmentBox {
  position: relative;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 {
  position: absolute;
  width: 130.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 {
  position: absolute;
  width: 130.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 {
  position: absolute;
  width: 130.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 {
  position: absolute;
  width: 130.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 > .backgroundLayer {
  border-radius: 3px 3px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 span {
  color: #5E5E5E;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #5E5E5E;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Toggle-switch {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-On {
  width: 56.0px;
  height: 24.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-On {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-On td.layout {
  padding: 0px 0px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-On > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-On .verticalalign {
  vertical-align: top;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Ellipse_7 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Ellipse_7 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Off {
  width: 65.99999999999909px;
  height: 29.000000000000227px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Off {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Off td.layout {
  padding: 0px 0px 0px 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Off > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Off .verticalalign {
  vertical-align: top;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 9.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Ellipse_8 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Ellipse_8 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #EDEDED;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 {
  position: absolute;
  width: 885.9999999999995px;
  min-height: 175.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 35px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 {
  position: absolute;
  width: 1206.0000000000005px;
  min-height: 169.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 24px;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Image_1 {
  position: absolute;
  width: 553.9999999999997px;
  height: 332.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Image_1 {
  box-shadow: none;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Image_2 {
  position: absolute;
  width: 522.0000000000001px;
  height: 341.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c381b5ca-c35d-4c1e-b388-6186811084aa #s-Image_2 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-c381b5ca-c35d-4c1e-b388-6186811084aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
